name: Release

on:
    # Allows you to run this workflow manually from the Actions tab or through HTTP API
    workflow_dispatch:

    push:
        tags:
            - "v*.*.*" # Trigger only on version tags

jobs:
    build:
        strategy:
            matrix:
                # os: [ubuntu-latest, macos-latest, windows-latest]
                # arch: [x64, ia32]
                include:
                    - os: ubuntu-latest
                      arch: x64
                    - os: macos-latest
                      arch: x64
                    - os: macos-latest
                      arch: arm64
                    # - os: macos-latest
                    #   arch: ia32
                    - os: windows-latest
                      arch: x64
                    # - os: windows-latest
                    #   arch: arm64
                    - os: windows-latest
                      arch: ia32
        runs-on: ${{ matrix.os }}
        name: Build ${{ matrix.os }} (${{ matrix.arch }})
        permissions: write-all
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "24.x"

            - name: Install dependencies
              run: npm install

            # - name: Make distributables
            #   run: npm run make -- --dry-run --arch="${{ matrix.arch }}"
            - name: Publish to GitHub Releases
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: npm run publish -- --arch="${{ matrix.arch }}"
